<h2 style="margin-top: 70px;">Log In</h2>


<form  id="form" method="post" action="/login">
<label for="username-input">Username</label>
<input id="username-input" type="text" name="loginUsername">
<br>

<label for="password-input">Password</label>
<input id="password-input" type="password" name="loginPassword">
<br>
<br>

<button>Log In</button>
<br>
<br>
<a href="/auth/facebook">Sign In With Facebook</a>

<a href="/auth/google">Sign In With Google</a>
</form>
